
@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Regular.eot") format('embedded-opentype'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Regular.woff2") format('woff2'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Regular.woff") format('woff'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Regular.ttf") format('ttf')
}
@font-face {
  font-family: "Helvetica Now Bold";
  src: url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Bold.eot") format('embedded-opentype'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Bold.woff2") format('woff2'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Bold.woff") format('woff'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowText-Bold.ttf") format('ttf')
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowDisplay-XBd.eot") format('embedded-opentype'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowDisplay-XBd.woff2") format('woff2'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowDisplay-XBd.woff") format('woff'),
  url("https://content.loft.com.br/static/webfonts/helvetica/HelveticaNowDisplay-XBd.ttf") format('ttf')
}

body {
  background: #fff;
}

img {
  height:100%;
  display: block;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.slide {
  width: 100%;
  height: 100%;
  display: grid;
}

.slide-items {
  position: relative;
  grid-area: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.slide-nav {
  grid-area: 1/1;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.slide-nav button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.slide-items > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  pointer-events: none;
}

.slide-items > .active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

.slide-thumb {
  display: flex;
  grid-column: 1 / 3;
}

.slide-thumb > span {
  flex: 1;
  display: block;
  height: 3px;
  background: rgba(0, 0, 0, 0.4);
  margin: 5px;
  border-radius: 3px;
  overflow: hidden;
}

.slide-thumb > span.active::after {
  content: '';
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  transform: translateX(-100%);
  animation: thumb 5s forwards linear;
}

.divStories {
    position: absolute;
    bottom: 0px;
    height: 60%;
    width: 100%;
    opacity: 1;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
  align-items: baseline;
}

.rowIcon {
position: absolute;
    bottom: 0px;
    height: 25%;
  width:100%;
  margin:0px!important;
}
.divide{
position: absolute;
height: 1px;
left: 10%;
  width: 80%;
bottom: 20%;

background: #E1E9EF;
opacity: 0.35;
border-radius: 8px;
}
.fontIcon {font-family: Helvetica Now Text;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
  padding-left:5px
}
.colIcon {
  padding:0!important;
}


.priceText {
position: absolute;
width: 50%;
left: 25%;
bottom:28%;

/* Desktop/Headline 3 */

font-family: Helvetica Now Bold;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */
text-align: center;

color: #FFFFFF;
}
.dislikeButton {
  position: absolute;
width: 72px;
height: 72px;
left: 28%;
bottom: 5%;
background: #FFFFFF;
/* Elevation/sm */
box-shadow: 0px 4px 8px rgba(25, 31, 35, 0.2);border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.likeButton {
  position: absolute;
width: 72px;
height: 72px;
right: 28%;
bottom: 5%;
background: #FFFFFF;
/* Elevation/sm */
box-shadow: 0px 4px 8px rgba(25, 31, 35, 0.2);border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dislikeIcon {
  color: #7A93A3;
}
.likeIcon {
  color: #FF774A;
}

.previousProperty {
    position: absolute;
left: 5%;
bottom: 5%;
    font-size:10px;
  color:#fff
}
.nextProperty {
    position: absolute;
right: 5%;
bottom: 5%;
  font-size:10px;
    color:#fff
}
.previousPropertyText {
    position: absolute;
left: 5%;
bottom: 2%;
    font-size:10px;
  font-family: Helvetica Now Text;
  color:#fff
}
.nextPropertyText {
    position: absolute;
right: 5%;
bottom: 2%;
  font-size:10px;
  font-family: Helvetica Now Text;
    color:#fff
}
@keyframes thumb {
  to {
    transform: initial;
  }
}
